*.sqlite
.coverage
coverage.xml
docs/build/
pep8.out
test_results.xml
*.pyc
*.pyo
build/*
dist/*
*egg-info*
RPMS
SOURCES
BUILDROOT
.vagrant
.env*
src/appendage/appendage_proj/local_settings.py
node_modules
